.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #214770;
}

.caja {
    background-color: aqua;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    border-color: blueviolet;

}

.contenedor2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: crimson;
    
}

.contenedor2 .caja {
    flex-basis: 30%;
    background-color: rgb(13, 77, 52);
    border-color: darkkhaki;
    padding: 20px;
        border-radius: 5px;
        text-align: center;
        margin-right: 20px; /* Espacio entre las cajas */

}

.contenedor3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: forestgreen;
}

.contenedor3 .caja {
    background-color: darkcyan;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px;
}

.formulario {
    background-color: #230eda;
    padding: 20px;
    border-radius: 5px;
}

.formulario label {
    display: block;
    margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.caja22
{
    background-color: #f0f0f0;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 20px;
}
